* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #004d98;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #a50044;
}

.nav h1 {
    color: #edbb00;
}

a {
    text-decoration: none;
    color: #edbb00;
    font-size: 25px;
    padding-top: 0.3%;
}

.card-container {
    margin: auto;
    width: 80%;
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.card {
    width: 92%;
    margin: 8px;
    padding: 8px;
    background-color: gray;
    border-radius: 15px;
    height: 480px;
}

.card h2, p {
    color: darkgray;
    padding: 2px;
    font-weight: bold;
}

.card p {
    text-align: justify;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}